/* === NULL STYLE === */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto:wght@400;700&family=Shadows+Into+Light&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: inherit;
}

/* === VARIABLE === */
/* === FONTS === */
/* === VARIABLE === */
/* === COMMON === */
body {
  background: #6966D0;
  overflow-x: hidden;
}

.container {
  width: 92%;
  height: 100vh;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

/* === ANIMATION === */
@-webkit-keyframes spin_words {
  12.5% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  25% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  37.5% {
    -webkit-transform: translateY(-140%);
            transform: translateY(-140%);
  }
  50% {
    -webkit-transform: translateY(-128%);
            transform: translateY(-128%);
  }
  62.5% {
    -webkit-transform: translateY(-267%);
            transform: translateY(-267%);
  }
  75% {
    -webkit-transform: translateY(-255%);
            transform: translateY(-255%);
  }
  87.5% {
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
  }
  100% {
    -webkit-transform: translateY(-382%);
            transform: translateY(-382%);
  }
}
@keyframes spin_words {
  12.5% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  25% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  37.5% {
    -webkit-transform: translateY(-140%);
            transform: translateY(-140%);
  }
  50% {
    -webkit-transform: translateY(-128%);
            transform: translateY(-128%);
  }
  62.5% {
    -webkit-transform: translateY(-267%);
            transform: translateY(-267%);
  }
  75% {
    -webkit-transform: translateY(-255%);
            transform: translateY(-255%);
  }
  87.5% {
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
  }
  100% {
    -webkit-transform: translateY(-382%);
            transform: translateY(-382%);
  }
}

@-webkit-keyframes leftExist {
  10% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes leftExist {
  10% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes rightExist {
  10% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes rightExist {
  10% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes spin_words {
  12.5% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  25% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  37.5% {
    -webkit-transform: translateY(-140%);
            transform: translateY(-140%);
  }
  50% {
    -webkit-transform: translateY(-128%);
            transform: translateY(-128%);
  }
  62.5% {
    -webkit-transform: translateY(-267%);
            transform: translateY(-267%);
  }
  75% {
    -webkit-transform: translateY(-255%);
            transform: translateY(-255%);
  }
  87.5% {
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
  }
  100% {
    -webkit-transform: translateY(-382%);
            transform: translateY(-382%);
  }
}

@-webkit-keyframes opacitiUp {
  10% {
    opacity: 0;
  }
  20% {
    opacity: .1;
  }
  30% {
    opacity: .2;
  }
  40% {
    opacity: .3;
  }
  50% {
    opacity: .4;
  }
  60% {
    opacity: .5;
  }
  70% {
    opacity: .6;
  }
  80% {
    opacity: .7;
  }
  90% {
    opacity: .9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacitiUp {
  10% {
    opacity: 0;
  }
  20% {
    opacity: .1;
  }
  30% {
    opacity: .2;
  }
  40% {
    opacity: .3;
  }
  50% {
    opacity: .4;
  }
  60% {
    opacity: .5;
  }
  70% {
    opacity: .6;
  }
  80% {
    opacity: .7;
  }
  90% {
    opacity: .9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitiDown {
  100% {
    opacity: 1;
  }
  90% {
    opacity: .9;
  }
  80% {
    opacity: .8;
  }
  70% {
    opacity: .7;
  }
  60% {
    opacity: .6;
  }
  50% {
    opacity: .5;
  }
  40% {
    opacity: .4;
  }
  30% {
    opacity: .3;
  }
  20% {
    opacity: .2;
  }
  10% {
    opacity: .0;
  }
}

@keyframes opacitiDown {
  100% {
    opacity: 1;
  }
  90% {
    opacity: .9;
  }
  80% {
    opacity: .8;
  }
  70% {
    opacity: .7;
  }
  60% {
    opacity: .6;
  }
  50% {
    opacity: .5;
  }
  40% {
    opacity: .4;
  }
  30% {
    opacity: .3;
  }
  20% {
    opacity: .2;
  }
  10% {
    opacity: .0;
  }
}

/* === HEADER=== */
.header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 11%;
  height: 185px;
  background: #D9D9D9;
  border-radius: 320px 320px;
}

.header .header-logo .header-logo_title {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-logo .header-logo_title .header-logo_letter:nth-child(1) {
  color: #D66A6A;
}

.header .header-logo .header-logo_title .header-logo_letter:nth-child(2) {
  color: #C9B92F;
}

.header .header-logo .header-logo_title .header-logo_letter:nth-child(3) {
  color: #749938;
}

.header .header-btn {
  padding-right: 8.5%;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .header-btn #header-btn_text {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  text-decoration: none;
  line-height: 39px;
  color: black;
  background: #CECDEC;
  padding: 20px 70px;
  border-radius: 40px 40px;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .header-btn #header-btn_text:hover {
  color: #CECDEC;
  background: black;
}

.header .header-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* === SECTION SCROLL=== */
.scroll-section {
  margin-top: 10px;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scroll-section .scroll-content {
  width: 50%;
  padding-top: 100px;
}

.scroll-section .scroll-content .scroll-text1, .scroll-section .scroll-content .scroll-text2 {
  font-size: 64px;
  font-family: "Inter", sans-serif;
}

.scroll-section .scroll-content .scroll-text1 {
  width: 65%;
  margin-bottom: 80px;
}

.scroll-section .scroll-content .scroll-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.scroll-section .scroll-content .scroll-text2 .scroll-text-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
  overflow: hidden;
  height: 8vh;
}

.scroll-section .scroll-content .scroll-text2 .scroll-text-container .scroll-text_update {
  display: blocks;
  margin-bottom: 22px;
  -webkit-animation: spin_words 4s infinite;
          animation: spin_words 4s infinite;
}

.scroll-section .scroll-content .scroll-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 52%;
  height: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 150px;
}

.scroll-section .scroll-content .scroll-arrow .arrow {
  width: 22%;
  height: 15%;
  -webkit-transition: .5s;
  transition: .5s;
}

.scroll-section .scroll-content .scroll-arrow .arrow:hover {
  fill: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.scroll-section .scroll-img {
  position: relative;
  width: 30%;
}

.scroll-section .scroll-img .header-img {
  position: absolute;
  top: -15%;
  left: 18%;
  width: 41vw;
  height: 85vh;
}

/* === SECTION ABOUT === */
.about {
  width: 100%;
  height: 95vh;
  font-family: "Shadows Into Light", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about .about-img {
  width: 30%;
  margin: 0 auto;
  border-radius: 5%;
}

.about .about-content {
  width: 50%;
  position: relative;
}

.about .about-content .about-text {
  font-size: 120px;
  color: #ffff;
  text-align: center;
  line-height: 206px;
}

.about .about-content .about-arrow {
  position: absolute;
  width: 400px;
  height: 400px;
  margin-top: 6%;
  margin-left: 42%;
}

.about .about-content .about-arrow .arrow {
  width: 22%;
  height: 15%;
  -webkit-transition: .5s;
  transition: .5s;
  fill: white;
}

.about .about-content .about-arrow .arrow:hover {
  fill: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about .left {
  -webkit-animation: leftExist 1.3s ease;
          animation: leftExist 1.3s ease;
}

.about .right {
  -webkit-animation: rightExist 1.4s ease;
          animation: rightExist 1.4s ease;
}

/* === FOOTER === */
.footer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer .footer-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12%;
}

.footer .footer-email .email {
  width: 40vw;
  height: 12vh;
  border-radius: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  text-align: center;
}

.footer .footer-email .footer-email_text {
  padding-left: 10%;
  width: 45%;
  font-family: "Shadows Into Light", cursive;
  color: white;
  font-size: 64px;
}

.footer .footer-link {
  margin-top: 80px;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-link .footer-link_appstore {
  width: 23%;
}

.footer .footer-link .footer-link_playmarket {
  width: 35%;
}

.footer .footer-alert {
  position: absolute;
  width: 30vw;
  height: 30vh;
  background: white;
  border-radius: 25px 25px;
  top: 10%;
  left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 3px #D9D9D9;
}

.footer .footer-alert .footer-alert_img {
  margin-top: -5%;
  margin-bottom: 5%;
  width: 25%;
  height: auto;
}

.footer .footer-alert .footer-alert_text {
  width: 74%;
  font-size: 26px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

input ::-webkit-input-placeholder {
  font-weight: 400;
  text-align: right;
  color: #B6AFAF;
}

input :-ms-input-placeholder {
  font-weight: 400;
  text-align: right;
  color: #B6AFAF;
}

input ::-ms-input-placeholder {
  font-weight: 400;
  text-align: right;
  color: #B6AFAF;
}

input ::placeholder {
  font-weight: 400;
  text-align: right;
  color: #B6AFAF;
}
/*# sourceMappingURL=styles.css.map */