/* === FONTS === */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto:wght@400;700&family=Shadows+Into+Light&display=swap');
//Roboto 700 and 400,Inter 600,Shadows Into Light 400;

/* === VARIABLE === */

$logo-fonts: 'Roboto', sans-serif;
$main-fonts: 'Shadows Into Light', cursive;
$second-main-fonts: 'Inter', sans-serif;


